.business-icon-container {
  img {
    height: 100px;
    width: 100px;
  }

  &::after {
    content: "";
    background-color: #c2ff01;
    height: 150px;
    width: 150px;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 24px;
  }
}
