.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  width: 100%;

  &__logo::after {
    content: "";
    background: linear-gradient(99.95deg, #1d737e -2.54%, #4fb9c7 114.45%);
    border-radius: 57px;
    transform: rotate(-45deg);
    height: 300px;
    width: 300px;
    position: absolute;
    top: calc(0px - 150px / 2);
    left: calc(0px - 150px / 3);
    z-index: -1;
  }

  &__background-logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__div-helper {
    display: flex;
    align-items: center;
  }

  &__button {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    color: #c2ff01;
    background: linear-gradient(360deg, #1d737e -74.42%, #4fb9c7 154.17%);
    border-radius: 57px;
    padding: 15px 30px;
    text-transform: uppercase;
    margin-right: 2rem;
  }

  &__menu {
    display: flex;
    cursor: pointer;
    height: calc((0.25em * 3) + (10px * 2));
    align-items: center;
    justify-content: center;

    span {
      width: 3em;
      height: 0.25em;
      background-color: #000;
      border-radius: 5px;
      transition: all 0.25s;
      position: relative;

      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 1.5em;
        height: 0.25em;
        background-color: #197081;
        border-radius: 5px;
        transition: all 0.25s;
      }

      &::before {
        transform: translateY(-10px);
      }

      &::after {
        transform: translateY(10px);
        right: 0;
      }
    }

    &:hover {
      span::after,
      span::before {
        width: 3em;
      }
    }
  }
}

.first-fold-background {
  background: linear-gradient(198deg, rgba(25, 112, 129, 0.32) 0%, rgba(247, 247, 249, 0) 64.63%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.introduction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 17% 0;

  &__informations {
    flex-shrink: 0;

    h1 {
      font-family: "Oswald", sans-serif;
      font-weight: 700;
      font-size: 30px;
      line-height: 47px;
      letter-spacing: 0.1em;

      text-transform: uppercase;

      strong {
        font-family: "Fira Sans", sans-serif;
        font-weight: 700;
        background-color: #000;
        color: #c2ff01;
        font-size: 30px;

        border-radius: 8px;
        padding: 0.1rem 1rem;
      }
    }

    h2 {
      font-family: "Fira Sans", sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 27px;

      margin-top: 15px;
      margin-bottom: 30px;
    }

    a {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 700;
      font-size: 15px;
      letter-spacing: 0.1em;

      text-transform: uppercase;
      text-align: center;

      background-color: #c2ff01;
      color: #000;
      border-radius: 30px;

      padding: 15px 0;
      margin-right: 15px;
      display: block;
      width: 90%;
      transition: color 0.2s, background-color 0.2s;

      &:hover {
        background-color: #000;
        color: #c2ff01;
      }
    }
  }

  img {
    transition: transform 0.5s;
  }

  &:hover {
    img {
      transform: scale(1.025);
    }
  }

  @media screen and (max-width: 1050px) {
    justify-content: center;

    &__informations {
      a {
        margin: 0 auto;
      }
    }

    img {
      display: none;
    }
  }
}

.about {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 80px 17%;
  align-items: center;
  position: relative;

  &::before {
    content: "Sobre";
    text-transform: uppercase;
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #f7f7f9;

    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900;
    font-size: 63px;
    left: calc(17% / 4);
  }

  &__img-container {
    position: relative;

    &::before {
      content: "";
      background-color: #c2ff01;
      height: 12vw;
      width: 12vw;
      position: absolute;
      z-index: -1;
      left: calc(-12vw / 2);
      top: calc(12vw / 10);
      border-radius: 15%;
      transform: rotate(45deg);
    }
  }

  &__informations {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-left: 5%;

    h2 {
      font-family: "Oswald", sans-serif;
      font-style: normal;
      font-weight: 200;
      font-size: 25px;
      line-height: 37px;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      strong {
        font-family: "Oswald", sans-serif;
        font-weight: 700;
        font-size: 25px;
      }
    }

    h3 {
      font-family: "Oswald", sans-serif;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.2rem;

      text-transform: uppercase;
    }

    &__text {
      font-family: "Fira Sans", sans-serif;
      line-height: 27px;
      font-size: 15px;
    }

    p {
      font-weight: 400;
    }

    a {
      font-weight: 700;
      color: black;
    }
  }
}

.banner {
  background-image: url("../img/background-banner.png");
  background-size: cover;
  position: relative;
  width: 100%;
  margin-top: 5%;

  display: flex;
  justify-content: space-between;

  padding: 80px 17%;

  img {
    position: absolute;
    left: calc(17% / 4);
    top: 32%;
    width: 10%;
    height: auto;
  }

  &::after {
    content: "";
    background-color: #c2ff01;
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 1;
    right: calc(100px / 2);
    top: calc(-100px / 2);
    transform: rotate(45deg);
    border-radius: 24px;
  }

  h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 25px;
    line-height: 40px;

    align-self: center;
  }

  p {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    line-height: 27px;

    width: 50%;

    strong {
      font-family: "Fira Sans", sans-serif;
      font-weight: 600;
      font-size: 15px;
      color: #c2ff01;
    }
  }
}

.jumbotron {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 17%;

  p {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;

    width: 50%;

    strong {
      font-family: "Fira Sans", sans-serif;
      font-weight: 700;
      font-size: 15px;
      line-height: 27px;
    }
  }

  h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 39px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: right;
    width: 25%;
  }
}

.choices {
  display: flex;
  background-color: red;

  aside {
    width: 50%;

    h2 {
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      font-size: 25px;
      line-height: 39px;

      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #ffffff;
    }
  }

  &__type {
    padding: 80px 5% 120px 17%;
    background: linear-gradient(59.46deg, #1d737e -67.96%, #4fb9c7 103.75%);

    p {
      font-family: "Fira Sans", sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 27px;
      margin: 30px 0;

      color: #fff;

      strong {
        font-family: "Fira Sans", sans-serif;
        font-weight: 600;
        font-size: 15px;
        line-height: 27px;

        color: #c2ff01;
      }
    }
  }
}

.containing {
  padding: 80px 17%;
  display: flex;
  align-items: center;

  aside {
    width: 50%;
  }

  &__icon-title {
    display: flex;
    justify-content: space-around;

    h2 {
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      font-size: 25px;
      line-height: 37px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }

  p {
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    line-height: 27px;
  }

  .business-icon-container {
    position: relative;

    img {
      height: 75px;
      width: 75px;
    }

    &::after {
      left: -32px;
      z-index: -1;
      top: -25px;
      height: 135px;
      width: 135px;
    }
  }

  @media screen and (max-width: 1050px) {
    flex-direction: column;

    aside {
      width: 100%;
    }

    &__icon-title {
      margin-bottom: 5rem;
    }
  }
}

.icons {
  padding: 80px 17%;

  h2 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  &__row {
    display: flex;
    justify-content: space-around;
    position: relative;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      span {
        font-family: "Fira Sans", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        margin-top: 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        small {
          font-family: "Fira Sans", sans-serif;
          font-weight: 400;
          font-size: 15px;
          line-height: 27px;
          color: #197081;
        }
      }

      &::after {
        content: "";
        height: 80px;
        width: 80px;
        position: absolute;
        top: 15px;
        opacity: 0.1;
        border-radius: 15px;
        transform: rotate(45deg);

        border: 4px solid;
        border-color: #1d1d54;
        // border-image-source: linear-gradient(135deg, #1d1d54 3.4%, rgba(29, 29, 84, 0) 96.6%);
      }
    }
  }
}

.version-banner {
  background-image: url("../img/background-version.png");
  background-size: cover;
  position: relative;
  width: 100%;
  margin-top: 5%;
  padding: 80px 17%;

  display: flex;
  align-items: center;

  aside {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;

    strong {
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      font-size: 25px;
      line-height: 37px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #c2ff01;
    }
  }

  p {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin-top: 3rem;

    color: #ffffff;
  }

  a {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000;

    padding: 1rem 2rem;

    background-color: #c2ff01;
    border-radius: 30px;
    border: 1px solid #c2ff01;
    transition: color 0.2s, background-color 0.2s;

    &:hover {
      background-color: #000;
      color: #c2ff01;
    }
  }
}

.subscription {
  padding: 80px 17%;

  h2 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 3rem;
  }

  ol {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    row-gap: 5rem;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      font-family: "Fira Sans", sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #000000;

      &:not(:last-child) {
        span {
          font-family: "Source Sans Pro", sans-serif;
          font-weight: 900;
          font-size: 25px;
          line-height: 30px;
          letter-spacing: 0.055em;
          text-transform: uppercase;
          position: relative;
          margin-bottom: 2rem;
          cursor: default;
          transition: color 0.2s;

          &::after {
            content: "";
            width: 40px;
            height: 40px;
            background-color: #c2ff01;
            border-radius: 8px;
            transform: rotate(45deg);
            transition: background-color 0.2s;

            z-index: -1;
            position: absolute;
            left: -5px;
            top: -2px;
          }
        }

        &:hover {
          span {
            color: #c2ff01;

            &::after {
              background-color: #000;
            }
          }
        }
      }

      &:last-child {
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        background-image: linear-gradient(59.46deg, #1d737e -67.96%, #4fb9c7 103.75%);
        border-radius: 14px;
        transition: background-image 0.2s;

        a {
          font-family: "Source Sans Pro", sans-serif;
          font-weight: 700;
          font-size: 15px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #000000;

          padding: 0.75rem 2rem;

          background-color: #c2ff01;
          border-radius: 30px;
          transition: color 0.2s, background-color 0.2s;
        }

        &:hover {
          background-image: linear-gradient(240deg, #1d737e -67.96%, #4fb9c7 103.75%);

          a {
            background-color: #000;
            color: #c2ff01;
          }
        }
      }
    }
  }
}

.votes {
  background-color: #000;
  color: #fff;
  padding: 120px 0;
  text-align: center;
  position: relative;

  .business-icon-container {
    img {
      position: absolute;
      top: -50px;
      left: calc(50% - 50px);
      z-index: 2;

      height: 100px;
      width: 100px;
    }

    &::after {
      right: calc(50% - 75px);
      top: calc(-150px / 2);
      z-index: 1;

      height: 150px;
      width: 150px;
    }
  }

  h2 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 39px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    z-index: 1;
  }

  p {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin: 20px 0 35px 0;
  }

  h3 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #c2ff01;
  }

  &__vote {
    display: flex;
    justify-content: center;
  }

  &__vote aside {
    width: 25%;
    display: flex;
    padding: 30px 40px;
    border-radius: 10px;
    margin: 100px 1rem 0;
    position: relative;

    p {
      margin: 0;
    }

    &::after {
      position: absolute;
      top: -60px;
      left: calc(50% - 30px);
    }
  }

  &__like {
    background-color: #c2ff01;
    color: #000;

    &::after {
      content: url("../img/like.svg");
    }
  }

  &__deslike {
    background-color: #d50033;

    &::after {
      content: url("../img/deslike.svg");
    }
  }

  @media screen and (max-width: 1050px) {
    &__vote aside {
      width: 50%;
    }
  }
}

.video {
  background-color: #000;
  position: relative;

  padding: 80px 17%;

  h2 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    color: #fff;

    margin-bottom: 80px;
  }

  iframe {
    width: 100%;
    height: 650px;
    z-index: 1;
    position: relative;
  }

  &__background {
    background: linear-gradient(180deg, #171717 41.46%, rgba(23, 23, 23, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.footer {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 80px 17%;
  align-items: center;

  p {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;

    font-family: "Fira Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;

    small {
      font-family: "Fira Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 21px;
      color: #4b4b4b;
    }
  }

  &__designed {
    display: flex;
    align-items: center;
    color: #fff;

    small {
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      font-size: 13px;
      line-height: 19px;
      margin: 0.5rem;
    }

    img {
      height: 20px;
      width: auto;
    }
  }
}
