.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: absolute;
  width: 100%;
  top: 0;

  &__logo {
    margin-left: 4rem;
  }

  &__background-logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__div-helper {
    display: flex;
    align-items: center;
  }

  &__button {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    color: #c2ff01;
    background: linear-gradient(360deg, #1d737e -74.42%, #4fb9c7 154.17%);
    border-radius: 57px;
    padding: 15px 30px;
    text-transform: uppercase;
    margin-right: 2rem;
  }
}

.introduction {
  padding-top: 12%;
  padding-left: 20%;
  width: 45%;

  h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    letter-spacing: 0.1em;

    text-transform: uppercase;

    span {
      font-family: "Fira Sans", sans-serif;
      font-weight: 700;
      background-color: #000;
      color: #c2ff01;
      font-size: 30px;

      border-radius: 8px;
      padding: 0.1rem 1rem;
    }
  }

  h2 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;

    margin-top: 15px;
    margin-bottom: 30px;
  }

  a {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.1em;

    text-transform: uppercase;
    text-align: center;

    background-color: #c2ff01;
    color: black;
    border-radius: 30px;

    padding: 15px 0;
    margin-right: 15px;
    display: block;
    width: 100%;
  }
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 43%);
  align-items: center;
  justify-content: space-evenly;

  img {
    justify-self: flex-end;
  }

  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 75%;
    height: 100%;

    h2 {
      font-family: "Oswald", sans-serif;
      font-style: normal;
      font-weight: 200;
      font-size: 25px;
      line-height: 37px;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      span {
        font-family: "Oswald", sans-serif;
        font-weight: 700;
        font-size: 25px;
      }
    }

    h3 {
      font-family: "Oswald", sans-serif;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.2rem;

      text-transform: uppercase;
    }

    &__text {
      font-family: "Fira Sans", sans-serif;
      line-height: 27px;
      font-size: 15px;
    }

    p {
      font-weight: 400;
    }

    a {
      font-weight: 700;
      color: black;
    }
  }
}

.banner {
  background-image: url("../img/background-banner.png");
  width: 100%;
}
